.banner, .bannerHeader{
    
    border: 1px solid black;
    border-collapse: collapse;
    background-color: aquamarine;
    text-align: center;
    top: 0;
    text-decoration: none;
    padding: 6px 10px;
    
}

.banner{
    width: 100%;  
}

